.awards-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: vw(15);
  padding-right: 3px;
}

.awards-list--short {
  align-items: flex-end;
}

.awards-list__link {
  @include link-reset;

  display: flex;
  align-items: center;
  gap: vw(12);
}

.awards-list--short .awards-list__name {
  @include visually-hidden;
}

.awards-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: vw(43);
  min-height: vw(43);

  background-color: #ffffff;
  border-radius: vw(12);

  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.awards-list__link:hover .awards-list__icon,
.awards-list__link:focus-visible .awards-list__icon {
  background-color: #00ffa9;
}

.awards-list__link:active .awards-list__icon {
  opacity: 0.7;
}

.awards-list__quantity {
  font-family: $primary-font;
  font-size: fluid-font(13);
  line-height: 1.1;
  font-weight: 500;
  opacity: 0.8;
}
