.header {
  padding: vw(12) 0;

  border-bottom: 1px solid #e4e4e4;

  @include tablet {
    padding: 10px 0;
  }

  @include mobile {
    padding: 10px 0 14px;
  }
}

.header__container {
  position: relative;

  display: flex;
  align-items: center;
  gap: vw(34);

  @include tablet {
    justify-content: space-between;
  }
}

.header__logo {
  width: vw(73);
  height: vw(24);

  @include tablet {
    width: fluid-range(52, 55);
    height: fluid-range(17, 18);
  }

  @include mobile {
    width: 52px;
    height: 17px;
  }
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__nav {
  margin-left: auto;
}

.header__favorite-projects {
  @include link-reset;

  display: flex;
  align-items: center;
  gap: vw(10);

  font-family: $primary-font;
  font-size: fluid-font(13);
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.04em;

  @include tablet {
    display: none;
  }
}

.header__favorite-projects img {
  display: block;
  width: vw(20);
  height: vw(20);
}

.header__favorite-projects span:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: vw(36);
  min-height: vw(36);

  background-color: #0e0e0e;
  border-radius: vw(12);

  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header__favorite-projects:hover span:last-child,
.header__favorite-projects:focus-visible span:last-child {
  filter: invert(100%);
}

.header__favorite-projects:active span:last-child {
  opacity: 0.7;
}

.header__burger {
  @include button-reset;

  display: none;

  @include tablet {
    position: relative;

    display: block;
    width: 32px;
    height: 32px;

    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;

      height: 2.5px;

      background: currentColor;

      transform-origin: center;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      pointer-events: none;
    }

    &::before {
      transform: translateY(-3px);
    }

    &::after {
      transform: translateY(3px);
    }
  }
}

.header__burger--active {
  &::before {
    transform: translateY(0) rotate(45deg);
  }

  &::after {
    transform: translateY(0) rotate(-45deg);
  }
}
