.hero {
  padding: vw(40) 0;
  border-bottom: 1px solid #e4e4e4;

  @include tablet {
    padding-top: fluid-range(22, 43);
    padding-bottom: fluid-range(16, 20);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: vw(110);

  @include tablet {
    gap: fluid-range(40, 112);
  }
}

.hero__promo {
  display: grid;
  grid-template-columns: auto auto;
  gap: vw(26);

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @include large-mobile {
    gap: 45px;
  }
}

.hero__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  max-width: vw(607);

  font-family: $primary-font;
  font-size: vw(50);
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: -0.03em;

  @include tablet {
    max-width: fluid-range(345, 368);

    font-size: fluid-range(32, 38);
    letter-spacing: 0;
  }

  @include mobile {
    max-width: 345px;

    font-size: 32px;
    letter-spacing: -0.01em;
  }
}

.hero__awards {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: end;

  @include tablet {
    display: none;
  }
}

.hero__video {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  max-width: vw(456);
  height: vw(230);

  border-radius: vw(15);
  overflow: hidden;

  transform-origin: top;
  will-change: transform;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: fluid-range(250, 443);
    max-width: 100%;
    width: fluid-range(226, 440);

    transform-origin: center;
  }
}

.hero__video video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.hero__description {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 2fr 1fr;
  gap: 0 vw(45);

  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 20px 42px;
  }

  @include large-mobile {
    gap: 24px 37px;
  }
}

.hero__slogan {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: flex-end;
  padding-bottom: vw(25);

  @include tablet {
    align-self: flex-start;
    padding-bottom: 0;
  }
}

.hero__contacts {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  place-self: end;
  padding-right: vw(7);
  padding-bottom: vw(25);

  @include tablet {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    place-self: start;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.hero__about {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding-right: vw(25);
  justify-self: flex-end;
  max-width: vw(342);

  border-left: 1px solid #e4e4e4;

  @include tablet {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: start;
    padding-right: 0;
    padding-left: 10px;
    max-width: 100%;
  }

  @include large-mobile {
    padding-left: 0;
    margin-bottom: 5px;
    border: none;
  }
}

.hero__about p {
  margin: 0;
  margin-left: vw(-15);

  &:not(:last-child) {
    margin-bottom: vw(12);
  }
}

.hero__presentation {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: flex-end;
  padding-top: vw(20);
  padding-right: vw(50);

  border-left: 1px solid #e4e4e4;

  @include tablet {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: start;
    padding-top: 0;
    padding-right: 0;
  }
}

.hero__buttons {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  align-self: flex-end;

  @include tablet {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-top: 19px;
  }

  @include large-mobile {
    grid-column: 1 / -1;
    padding-top: 0;
    justify-self: center;
    width: 100%;
  }
}

.hero__button {
  width: vw(250);

  @include tablet {
    width: 217px;
  }

  @include mobile {
    width: 100%;
  }
}
