@keyframes text-up {
  from {
    opacity: 0;
    transform: translateY(vw(80));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes img-scale {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
