.section__head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: vw(10);
  margin-bottom: vw(80);

  border-top: 1px solid #e4e4e4;

  @include tablet {
    margin-bottom: fluid-range(40, 60);
  }

  @include large-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.section__title {
  margin: 0;
  padding-top: vw(40);

  font-size: fluid-font(16);
  line-height: 1.2;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: -0.03em;

  @include tablet {
    padding-top: 22px;

    font-size: fluid-range(12, 13);
  }
}

.section__description {
  padding-top: vw(39);
  padding-left: vw(35);

  border-left: 1px solid #e4e4e4;

  @include tablet {
    padding-top: 22px;
    padding-left: 18px;
  }

  @include large-mobile {
    padding: 0;
    border: none;
  }
}

.section__description p {
  margin: 0;
  max-width: vw(530);

  opacity: 0.6;

  &:not(:last-child) {
    margin-bottom: vw(12);
  }

  &:nth-child(2) {
    padding-top: vw(12);
  }

  &:first-child {
    max-width: vw(480);

    font-family: $primary-font;
    font-size: vw(26);
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.03em;

    opacity: 1;
  }

  @include tablet {
    max-width: 100%;

    &:first-child {
      max-width: 100%;
      font-size: 20px;
    }

    &:nth-child(2) {
      padding-top: 13px;
    }
  }
}
