// TT Commons Pro Trial

@font-face {
  font-family: "TT Commons Pro Trial";
  src: url("/fonts/tt-commons-pro-trial/tt-commons-pro-trial-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Pro Trial";
  src: url("/fonts/tt-commons-pro-trial/tt-commons-pro-trial-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

// TT Runs Trial

@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/tt-runs-trial/tt-runs-trial-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/tt-runs-trial/tt-runs-trial-demibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/tt-runs-trial/tt-runs-trial-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
