// VIEWPORTS

@mixin tablet {
  @media (width <= 820px) {
    @content;
  }
}

@mixin large-mobile {
  @media (width <= 714px) {
    @content;
  }
}

@mixin mobile {
  @media (width <= 490px) {
    @content;
  }
}

// RESET

@mixin button-reset {
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

// UTILS

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin visually-visible {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  clip-path: none;
  overflow: visible;
  white-space: normal;
}

// EFFECTS

@mixin primary-button-effects {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    color: #0e0e0e;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow:
      0 7px 18px -15px rgba(14, 14, 14, 0.04),
      0 20px 20px 0 rgba(14, 14, 14, 0.05),
      0 24px 19px -30px rgba(14, 14, 14, 0.25);
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    background-color: #e4e4e4;
    pointer-events: none;
  }
}

@mixin short-button-effects {
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: #00ffa9;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    background-color: #e4e4e4;
    pointer-events: none;
  }
}

@mixin link-effects {
  transition: opacity 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
