<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__buttons">
        <button class="footer__button button" type="button">Начать проект</button>
      </div>
      <div class="footer__slogan">
        <p>Создаем качественный digital-продукт на базе стратегии, креатива и технологий</p>
      </div>
      <div class="footer__contacts contacts contacts--footer">
        <h2 class="visually-hidden">Контакты</h2>
        <ul class="contacts__list">
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:hello@only.digital">hello@only.digital</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="tel:+74957409979">+7 (495) 740 99 79</a>
          </li>
          <li class="contacts__item">
            <span class="contacts__text">Telegram для связи</span>
            <a class="contacts__link" href="t.me/@onlydigitalagency">@onlydigitalagency</a>
            <span class="contacts__icon">
              <img src="img/content/telegram.svg" width="14" height="14" alt="" aria-hidden="true">
            </span>
          </li>
        </ul>
      </div>
      <div class="footer__presentation presentation">
        <h2 class="presentation__title">Презентация компании</h2>
        <ul class="presentation__files-list">
          <li class="presentation__files-item">
            <a class="presentation__files-link" href="#" download>pdf</a>
          </li>
          <li class="presentation__files-item">
            <a class="presentation__files-link" href="#" download>pitch</a>
          </li>
        </ul>
      </div>
      <div class="footer__socials socials">
        <h2 class="visually-hidden">социальные сети</h2>
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link" href="#">
              <span class="visually-hidden">behance</span>
              <span aria-hidden="true">be</span>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <span class="visually-hidden">dprofile</span>
              <span aria-hidden="true">dp</span>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <span class="visually-hidden">telegram</span>
              <span aria-hidden="true">tg</span>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <span class="visually-hidden">vkontakte</span>
              <span aria-hidden="true">vk</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__logo">
        <img src="img/content/only-logo-text-and-picture.svg" width="188" height="30" alt="" aria-hidden="true">
      </div>
      <div class="footer__copyright">© 2014 - 2024</div>
    </div>
    <div class="footer__decor-text anim-block" aria-hidden="true">
      <span>Creative</span>
      <span>digital</span>
      <span>production</span>
    </div>
    <a class="footer__policy" href="#" target="_blank" rel="noopener noreferrer">Политика конфиденциальности</a>
  </div>
</footer>
