<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <img src="img/content/only-logo-text.svg" width="73" height="24" alt="Логотип агентства Only">
    </div>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Проекты</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Компания</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Направления</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Контакты</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Блог</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Карьера</a>
        </li>
      </ul>
    </nav>
    <a class="header__favorite-projects" href="#">
      <span class="visually-hidden">Избранные проекты</span>
      <span>40</span>
      <span>
        <img src="img/content/only-logo-picture-light.svg" width="20" height="20" alt="" aria-hidden="true">
      </span>
    </a>
    <button class="header__burger" type="button">
      <span class="visually-hidden">Главное меню</span>
    </button>
  </div>
</header>
