<section class="hero section">
  <div class="container hero__container">
      <div class="hero__promo">
        <h1 class="hero__title">Creative digital production</h1>
        <div class="hero__video anim-block">
          <video width="456" height="230" poster="img/decor/video-poster.webp" autoplay controls muted>
            <source src="video/hero-video.webm" type="video/webm">
            <source src="video/hero-video.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео-тег.
          </video>
        </div>
        <aside class="hero__awards">
          <h2 class="visually-hidden">Краткий список наград агентства</h2>
          <ul class="hero__awards-list awards-list awards-list--short">
            <li class="awards-list__item">
              <a class="awards-list__link" href="#">
                <span class="awards-list__name">AWWWARDS</span>
                <span class="awards-list__quantity">25</span>
                <span class="awards-list__icon">
                  <span class="scale-img" style="--img-w: 26; --img-h: 26">
                    <img src="img/content/awards-icons/awwwards.svg" width="26" height="26" alt="Логотип премии" aria-hidden="true">
                  </span>
                </span>
              </a>
            </li>
            <li class="awards-list__item">
              <a class="awards-list__link" href="#">
                <span class="awards-list__name">FWA</span>
                <span class="awards-list__quantity">1</span>
                <span class="awards-list__icon">
                  <span class="scale-img" style="--img-w: 37; --img-h: 11">
                    <img src="img/content/awards-icons/fwa.svg" width="37" height="11" alt="Логотип премии" aria-hidden="true">
                  </span>
                </span>
              </a>
            </li>
            <li class="awards-list__item">
              <a class="awards-list__link" href="#">
                <span class="awards-list__name">CSSDA</span>
                <span class="awards-list__quantity">26</span>
                <span class="awards-list__icon">
                  <span class="scale-img" style="--img-w: 23; --img-h: 23">
                    <img src="img/content/awards-icons/css-da.svg" width="23" height="23" alt="Логотип премии" aria-hidden="true">
                  </span>
                </span>
              </a>
            </li>
            <li class="awards-list__item">
              <a class="awards-list__link" href="#">
                <span class="awards-list__name">Рейтинг Рунета</span>
                <span class="awards-list__quantity">22</span>
                <span class="awards-list__icon">
                  <span class="scale-img" style="--img-w: 20; --img-h: 26">
                    <img src="img/content/awards-icons/runet-rating.svg" width="20" height="26" alt="Логотип премии" aria-hidden="true">
                  </span>
                </span>
              </a>
            </li>
            <li class="awards-list__item">
              <a class="awards-list__link" href="#">
                <span class="awards-list__name">Золотой Сайт</span>
                <span class="awards-list__quantity">40</span>
                <span class="awards-list__icon">
                  <span class="scale-img" style="--img-w: 25; --img-h: 29">
                    <img src="img/content/awards-icons/golden-site.svg" width="25" height="29" alt="Логотип премии" aria-hidden="true">
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="hero__description">
        <div class="hero__slogan slogan">
          <span class="slogan__text slogan__text--age">10</span>
          <span class="slogan__text">лет</span>
          <span class="slogan__text slogan__text--description">Лучший креативный разработчик для b2b</span>
        </div>
        <div class="hero__contacts contacts">
          <h2 class="visually-hidden">Контакты</h2>
          <ul class="contacts__list">
            <li class="contacts__item">
              <a class="contacts__link" href="mailto:hello@only.digital">hello@only.digital</a>
            </li>
            <li class="contacts__item">
              <a class="contacts__link" href="tel:+74957409979">+7 (495) 740 99 79</a>
            </li>
            <li class="contacts__item">
              <span class="contacts__text">Telegram для связи</span>
              <a class="contacts__link" href="t.me/@onlydigitalagency">@onlydigitalagency</a>
              <span class="contacts__icon">
                <img src="img/content/telegram.svg" width="14" height="14" alt="" aria-hidden="true">
              </span>
            </li>
          </ul>
        </div>
        <div class="hero__about about" data-da=".portfolio__description, 714, 1, move">
          <h2 class="visually-hidden">Об агентстве</h2>
          <p>Only.digital&nbsp;&mdash; агентство с&nbsp;фокусом на&nbsp;сильную аналитику, дизайн и&nbsp;разработку. В&nbsp;основе наших проектов лежат идеи, создаваемые на&nbsp;стыке стратегии, креатива и&nbsp;технологий.</p>        </div>
        <div class="hero__presentation presentation">
          <h2 class="presentation__title">Презентация компании</h2>
          <ul class="presentation__files-list">
            <li class="presentation__files-item">
              <a class="presentation__files-link" href="#" download>pdf</a>
            </li>
            <li class="presentation__files-item">
              <a class="presentation__files-link" href="#" download>pitch</a>
            </li>
          </ul>
        </div>
        <div class="hero__buttons">
          <button class="hero__button button" type="button">Начать проект</button>
        </div>
      </div>
  </div>
</section>
